.awards {
    background: rgba(245, 245, 220, 1);
    font-family: Lato ,sans-serif;

    h1 {
        font-size: 64px;
        font-weight: 600;
        line-height: 64px;
        color: rgba(0, 95, 75, 1);
        text-align: start;
    }
    h2{
        font-size: 45px;
        line-height: 45px;
    }
}