h1 {
    font-size: 60px;
    color: #005F4B
}

h2 {
    color: #005F4B;
    width: 740px;
    height: 90px;
    font-family: Lato;
    font-size: 60px;
    margin-bottom: 40px;
}

h3 {
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
}

h4 {
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 25px 0;
    color: #BDBAAF;
}